﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Fake Street<br />
    Springfield, ??<br />
    <abbr title="Phone">P:</abbr>
    215.847.4464
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kamnmclark@gmail.com">kamnmclark@gmail.com.com</a><br />
</address>